.table-container {
  width: 100%;
  background-color: rgb(234, 234, 234);
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  max-height: 100vh;
}

.sheet {
  table-layout: fixed;
  min-width: min-content;
  background-color: white;
  width: max-content;
  user-select: none;
}

.sheet-head {
  position: sticky;
  z-index: 5;
  top: 0;
}

.sheet-row {
  width: 100%;
  position: relative;
  margin-block: 20px;
}

.sheet-head .sheet-row th:first-child {
  z-index: 5;
  background-color: rgb(205, 204, 204);
  position: sticky;
  left: 0;
  top: 0;
}

.sheet-row td:first-child {
  width: 40px;
  position: sticky;
  left: 0;
  z-index: 2;
}

.sheet-header-cell {
  font-weight: bold;
  background-color: rgb(236, 236, 236);
  padding-inline: 12px;
  position: relative;
  user-select: none;
}

.sheet-header-cell.selected {
  background-color: rgb(32, 117, 173);
  color: rgb(255, 255, 255);
  outline: 2px solid rgb(149, 163, 194);
}

.row-resizer {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  cursor: row-resize;
  z-index: 1;
}

.row-resizer::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #e0e0e0;
  transition: background 0.2s;
}

/* Efecto hover */
.row-resizer:hover::after {
  height: 4px;
  background: #999;
}

/* Mientras se está redimensionando */
.resizing-row .row-resizer::after {
  background: #b1b1b1;
}

.resizing-row {
  cursor: col-resize;
  user-select: none;
}

.column-resizer {
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
  width: 6px;
  cursor: col-resize;
  z-index: 1;
}

.column-resizer::after {
  content: '';
  position: absolute;
  right: 2px;
  top: 0;
  height: 100%;
  width: 2px;
  background: #e0e0e0;
  transition: background 0.2s;
}

/* Efecto hover */
.column-resizer:hover::after {
  width: 4px;
  background: #999;
}

/* Mientras se está redimensionando */
.resizing-column .column-resizer::after {
  background: #b1b1b1;
}

.resizing-column {
  cursor: col-resize;
  user-select: none;
}

.sheet-cell {
  position: relative;
  height: max-content;
}

.sheet-input {
  border: none;
  bottom: 0;
  font-size: 16px;
  left: 0;
  min-width: 100%;
  outline: none;
  padding-inline: 12px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sheet-cell:focus-within .sheet-input {
  background-color: white;
  z-index: 2;
  overflow: visible;
  white-space: normal;
  /* height: fit-content; */
  width: fit-content;
  overflow: visible;
  box-shadow: 0 0 0 2px rgb(100, 151, 239);
}

.cell-marked {
  border: 2px solid rgb(18, 64, 162);
}

.cell-shadow {
  background-color: rgb(193, 214, 224);
  outline: 2px solid rgb(149, 163, 194);
}

.cell-function-mode {
  color: rgb(75, 3, 255);
}

.function-mode-span {
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  height: 36px;
  z-index: 2;
  background-color: blue;
}

.function-mode-span span {
  color: white;
}
