.sheet-container {
  transform: translateZ(0);
  backface-visibility: hidden;
  contain: strict;
  scroll-behavior: smooth;
  will-change: transform;
  -webkit-overflow-scrolling: touch;
}

.sheet-table {
  table-layout: fixed;
  top: 0;
  border-collapse: collapse;
  left: 0;
  min-width: min-content;
  background-color: white;
  width: max-content;
  user-select: none;
  cursor: default;
}

.table-wrapper {
  contain: layout style paint;
  will-change: transform;
  backface-visibility: hidden;
}

.sheet-header-cell {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  background-color: rgb(236, 236, 236);
  min-width: 50px;
  position: relative;
  user-select: none;
}

.sheet-header-cell.selected {
  background-color: rgb(178, 190, 199);
  color: rgb(255, 255, 255);
}

.row-resizer {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  cursor: ns-resize;
  z-index: 1;
}

.row-resizer::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  cursor: ns-resize;
  width: 100%;
  height: 3px;
  background: #d9d9d9;
  transition: background 0.2s;
}

/* Efecto hover */
.row-resizer:hover::after {
  height: 4px;
  cursor: ns-resize;
  background: #d9d9d9;
}

/* Mientras se está redimensionando */
.resizing-row .row-resizer::after {
  background: #d9d9d9;
}

.resizing-row {
  cursor: ns-resize;
  user-select: none;
}

.column-resizer {
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
  width: 6px;
  cursor: ew-resize;
  z-index: 1;
}

.column-resizer::after {
  content: '';
  position: absolute;
  right: 3px;
  cursor: ew-resize;
  top: 0;
  height: 100%;
  width: 2px;
  background: #d9d9d9;
  transition: background 0.2s;
}

/* Efecto hover */
.column-resizer:hover::after {
  width: 4px;
  cursor: ew-resize;
  background: #d9d9d9;
}

/* Mientras se está redimensionando */
.resizing-column .column-resizer::after {
  cursor: ew-resize;
  background: #d9d9d9;
}

.resizing-column {
  cursor: ew-resize;
  user-select: none;
}

.sheet-cell {
  position: relative;
  height: max-content;
}

.sheet-input {
  border: none;
  bottom: 0;
  font-size: 16px;
  min-width: 100%;
  outline: none;
  padding-inline: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
}

.sheet-cell:focus-within .sheet-input {
  background-color: white;
  z-index: 2;
  overflow: visible;
  cursor: text;
  /* height: fit-content; */
  width: fit-content;
  overflow: visible;
  box-shadow: 0 0 1px 2px rgb(141, 167, 211);
}

.cell-marked {
  border: 2px solid rgb(113, 140, 198);
}

.cell-shadow {
  background-color: rgb(232, 235, 243);
  outline: 1px solid rgb(149, 163, 194);
}

.cell-function-mode {
  color: rgb(55, 35, 144);
}

.function-mode-span span {
  color: white;
}
